$blue: #1977A5;
$light-blue: #81C3E3;
$grey: #6D797F;
$light-grey: #B7BBBC;
$white: #FCFDFE;
$border: .2rem solid black;
$box-shadow: .5rem 1rem 1rem rgba(0,0,0,.1);

.movie-card {
    margin: .5rem;
    border: .2rem solid $white;
    border-radius: .5rem;
    background: $light-grey;
    // max-height: 25rem;
    // min-height: 25rem;
    // overflow-y: hidden;
    // justify-content: left;   

    .card-btn {
        margin: 0;
        padding: 0;
        color: $blue;
    }
}

