$blue: #1977A5;
$light-blue: #81C3E3;
$grey: #6D797F;
$light-grey: #B7BBBC;
$white: #FCFDFE;
$border: .2rem solid black;
$box-shadow: .5rem 1rem 1rem rgba(0,0,0,.1);

.main-view {
    align-items: last baseline;
}