$blue: #1977A5;
$light-blue: #81C3E3;
$grey: #6D797F;
$light-grey: #B7BBBC;
$white: #FCFDFE;
$border: .2rem solid black;
$box-shadow: .5rem 1rem 1rem rgba(0,0,0,.1);

.main-view {
    align-items: last baseline;
}

// .cards {
//     background-color: transparent;

//     .movie-cards {
//         z-index: 100;

//         &:hover {
//             transform: scale(1.025);
//             box-shadow: 0 0 3rem $white;
//             transition: .2s linear;
//         }

//     }

// }