$blue: #1977A5;
$light-blue: #81C3E3;
$grey: #6D797F;
$light-grey: #B7BBBC;
$white: #FCFDFE;
$border: .2rem solid black;
$box-shadow: .5rem 1rem 1rem rgba(0,0,0,.1);

.genre-card {
    margin: .5rem;
    border: .2rem solid $light-grey;
    border-radius: .5rem;
    background: $white;
    
}

.genre-type {
    margin-top: .5rem;
    border-top: .1rem dashed $light-grey;
    border-bottom: .1rem dashed $light-grey;
    padding: .5rem 0;
}

.genre-descrip {
    border-bottom: .1rem dashed $light-grey;
    padding: .5rem 0;
}

.genre-btn {   
    margin-top: .5rem;
    color: $white;
    background: $blue;
    transition: .2s ease-in-out;

    &:hover {
        background: $blue;
        opacity: 0.8;       
    }    
}