$blue: #1977A5;
$light-blue: #81C3E3;
$grey: #6D797F;
$light-grey: #B7BBBC;
$white: #FCFDFE;
$yellow: #FFBC35;
$red: #C20000;
$border: .2rem solid black;
$box-shadow: .5rem 1rem 1rem rgba(0,0,0,.1);


.profile {
    margin-bottom: .5rem;
    border: .2rem solid $light-grey;
    border-radius: .5rem;
    background: $white;

    .profile-title {
        font-weight: bold;
    }

    .label {
        font-weight: bold;
    }
}

.update-profile {
    border: .2rem solid $light-grey;
    border-radius: .5rem;
    background: $white;

    .edit-profile-title {
        font-weight: bold;
    }

}

.user-label {
    margin-top: .5rem;
}

.pass-label {
    margin-top: .5rem;
}

.email-label {
    margin-top: .5rem;
}

.birth-label {
    margin-top: .5rem;
}

.edit-btns {
    justify-content: space-between;
}

.update-btn {
    width: 9rem;
    margin-top: .5rem;
    margin-right: .5rem;
    background: $blue;

    &:hover {
        background: $blue;
        color: $yellow;
        opacity: 0.8;
        transition: all .2s ease;
    }
}

.delete-btn {
    width: 9rem;
    margin-top: .5rem;
    margin-right: .5rem;
    background: $blue;

    &:hover {
        background: $blue;
        color: $red;
        opacity: 0.8;
        transition: all .2s ease;
    }  
}

.back-btn {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    margin-top: .5rem;
    background: $blue;

    &:hover {
        background: $blue;
        opacity: 0.8;
        transition: all .2s ease;
    }  
}

.remove-btn-container {
    text-align: right;
    align-items: center;

    .remove-btn {
        color: $white;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        transition: .1s ease-in-out;

        &:hover {
            text-decoration: underline;
            color: $yellow;
        }
    }
}


