$blue: #1977A5;
$light-blue: #81C3E3;
$grey: #6D797F;
$light-grey: #B7BBBC;
$white: #FCFDFE;
$border: .2rem solid black;
$box-shadow: .5rem 1rem 1rem rgba(0,0,0,.1);

.view-card {
    margin: .5rem;
    border: .2rem solid $light-grey;
    border-radius: .5rem;
    background: $white;
    // max-width: 30rem;

    .view-img {
        max-height: 40rem;
        margin-bottom: 1rem;
    }

}

.movie-title {
    border-top: .1rem dashed $light-grey;
    border-bottom: .1rem dashed $light-grey;
    padding: .5rem 0;

    .label {
        font-weight: bold;
    }
}

.movie-description {
    border-bottom: .1rem dashed $light-grey;
    padding: .5rem 0;

    .label {
        font-weight: bold;
    }
}

.director-container {
    border-bottom: .1rem dashed $light-grey;
    padding: .5rem 0;

    .label {
        font-weight: bold;
    }
}

.genre-container {
    border-bottom: .1rem dashed $light-grey;
    padding: .5rem 0;

    .label {
        font-weight: bold;
    }
}

.back-add-container {

    .movie-back-btn {
        margin-top: .5rem;
        margin-right: .5rem;
        background: $blue;
        transition: .2s ease-in-out;
    
        &:hover {
            background: $blue;
            opacity: 0.8;       
        }
    }

    .add-btn {
        margin-top: .5rem;
        background: $blue;
        transition: .2s ease-in-out;
    
        &:hover {
            background: $blue;
            opacity: 0.8;       
        }
    }
}



